header   {
    background: #bdb3b3;
    padding: 20px 0;
    background: linear-gradient(#888888,#fefefe);
}

body    {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px   100px;
}

h1 {
    text-align: center;
    padding: 20px;
}

.codificar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px;
    width: 55%;
}

.decodificar    {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px;
    width: 55%;
}

.botao1 {
    display: inline-block;
    margin-inline-end: 30px;
    padding: 10px 20px;
    background: #ff5252;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.botao1:hover {
    background-color:  rgb(224, 154, 154);
    scale: 1.2;
}

.botao2 {
    display: inline-block;
    margin-inline-start: 30px;
    padding: 10px 10px;
    background: #ff5252;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.botao2:hover {
    background-color:  rgb(224, 154, 154);
    scale: 1.2;
}

.botaocopiar    {
    display: inline-block;
    padding: 10px 10px;
    background: #ff5252;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.botaocopiar:hover  {
    background-color:  rgb(224, 154, 154);
    scale: 1.2;
}

footer  {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(#fefefe,#888888);
}

.logo   {
    margin-top: 35px;
    width: 5%;
}

.copyright  {
    color: #bbbbbb;
    font-size: 13px;
        
}
